@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: block;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.5)),url(../img/mother-son.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    position: relative;
}
h2{
    margin-bottom: 40px;
    text-shadow: 0 3px 7px rgba(0,0,0,0.5);
    position: relative;
}
h2::before{
    content:'';
    display: block;
    width:30px;
    height: 5px;
    border-radius: 3px;
    background-color: yellow;
    position: absolute;
    bottom:-15px;
    left:-10px    
}
h2:not([first-child]){
    color:white
}
img{
    max-width: 100%;
}
img.brand{
    width: 30%;
}
.slogan{
    font-family: 'Style Script', cursive;
    font-size: 3rem;
    color:gold;
    text-shadow: 0 3px 7px rgba(0,0,0,0.5);
    text-align: center;
}
/* NAV */
nav{
    padding:0 50px;    
}
.brand{
    width: auto;
    display: block;
}
i{
    color:white;
    margin: 0 5px;
}
.navbar-text>a:nth-child(1):hover >i{
    color:greenyellow
}
.navbar-text>a:nth-child(2):hover >i{
    color:#0d6efd;
}
/**/
.img-escudo{
    height: 200px;
}

/* Formulario */
form{
    padding:20px;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    border-radius: 3px;
    font-size: 14px;
    color:#ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input:not([type=radio]), textarea{
    width: 100%;
    outline:none;
    border:0;
    border-radius:3px;
    padding:10px;
    margin-bottom: 10px;
}
input [type="radio"]{
    margin-left: 15px !important;
}
fieldset{
    border:1px solid grey;
    padding: 0 10px 5px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.porta-radio{
    display: flex;
    justify-content: space-between;
}
label:not[last-child]{
    display: flex;
    flex-direction: row!important;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:33%;
}
[type="radio"]{
    margin-left: 5px!important;
}
form > label{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
[type="number"]{
    display: inline-flex;
    width: auto!important;
}
#button{
    background:yellow!important;
    margin-top: 10px;
}
#button:hover{
    background: gold!important;
}

/* Contacto */
#contacto > .container > .row{
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 100px;
}
#mensaje, #siniestro, .mensaje, .siniestro{
    width:290px;
    position: absolute;
}
#mensaje, .mensaje{
    right:20px;
} 
#siniestro, .siniestro{
    left:20px;
}
.cause{
   padding:15px;
    height:275px;
    display: flex;
    align-items: center;
    position: relative;
}
.mensaje, .siniestro{
    cursor:pointer
}
.mensaje:hover, .siniestro:hover{
    color:yellow!important;
    transition: 0.2s;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
}


/* --- Clases para JavaScript --- */
    .invitacion{
     display: flex;
     flex-direction: column;  
     justify-content: center;
     align-items: center;
    }
    .invitacion h4{
        text-align: center;
        text-shadow: 0 3px 10px rgba(0,0,0,0.8);        
    }
    .interactive{
        display: none;
    }
    .goodmatch{
        padding:10px;
        border-radius: 3px;
        background-color: rgba(0, 255, 0,0.5);
        margin: 10px auto;
    }
    .badmatch{
        padding:10px;
        border-radius: 3px;
        background-color: rgba(255, 0, 0, 0.5);
        color:#fff;
        margin: 10px auto;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        font-weight: 600;
    }
    .aparicion{
        animation: 1s aparicion linear;
    }
    @keyframes aparicion {
        0%{opacity: 0;transform:translateY(5px)}
        100%{opacity: 1;transform:translateY(0px)}
    }
    .comenzar{
        /*clase btn generado desde JS*/
        background:yellow!important;
        margin-top: 20px;
    }
    .comenzar:hover{
        background:gold!important;
    }

    .card{
        width:30%;
        height: auto;
    }
    .card:not([last-child]){
        margin-right:10px!important;
    }
    .card-text{
        font-size: 12px;
    }

    /*contratacion*/
    .emergente{
        display: flex;
        flex-direction: column;
        background:rgba(255,255,255,0.4);
        backdrop-filter: blur(5px);
        border-radius: 5px;
        margin:auto;
        padding:2rem;
        height: 80%;
        width:auto;
        color:#333;
    }
    .tarjetas{
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .tarjetas > p{
        width:100%;
    }
    
/* sections */
section{
    min-height: 100vh;
    padding: 50px 0px;
    position: relative;
}
/**/
.cause{
    display: flex;
    flex-direction: space-between;
}
/* Subir */
.subir{
    background: transparent;
    border:0;
    position: fixed;
    right:20px;
    bottom: 40px;
}
.subir > i{
    font-size: 48px;
    color:yellow;
    text-shadow: 0 3px 10px rgba(0,0,0,0.5);
}
.subir:hover > i{
    color:gold;
}
.hidden{
    opacity:0;
    visibility: hidden;
}
/*footer*/
footer{
    padding:30px 0 40px
}
footer i{
    color:lightskyblue
}
/* AJAX */
#clima{
    position: fixed;
    height: 156px;
    left:0px;
    top:calc(50% - 108px);
    background:yellow;    
    border-radius: 0 5px 5px 0;
    width: auto;
    display:inline-flex;
    align-items: center;    
}
#clima .container.funtom{
    width: auto;
    max-width: 250px;
    display: none;
    padding: 15px;
}
#clima .container i{
    color:#666
}
.portapi{
    
}
.porta-clima{
    background:transparent;    
}
.porta-clima .info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#temp{
    font-weight: 600;
    font-size: 36px;
}
.localidad{
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
}
.porta-extra{
    display: flex;
    justify-content: space-around;
}

.chevron{
    display: inline-flex;
    margin: auto;
    font-size: 36px;
    color:#999;
    cursor: pointer;
}
.chevof{display: none;}
.chevron:hover{
    color:#333;
}

/* ---------------------------------------- */
/* -------------Media Queries-------------- */
/* ---------------------------------------- */
@media(max-width:1024px){
    .cause{
        padding:15px;
        height:550px;
        width: 240px;
        margin-right: 0px;
        margin:0px;
    }
    .siniestro{
        bottom:20px;
    }
    .mensaje{        
        top:20px;
    }    
    #mensaje{
        top:15px;
    }
    #siniestro{
        bottom:15px;
    }
    #siniestro, #mensaje{
        width: 250px;
    }
    #mensaje, .mensaje{
        right:0px;
    } 
    #siniestro, .siniestro{
        left:0px;
    }
    #mensaje input, #siniestro input{
        height: 30px;
    }
}
@media(max-width:800px){
    img.brand{
        width: 60%;
    }
    .slogan{
        font-size: 36px;
    } 
    section#quienes .container .row{
        display: flex;
        flex-direction: column;
    }
    section#quienes .container .row div .img-escudo{
        width:45%
    }
    section#quienes .container .row div{
        width:100%
    }
   
    .interactive{
        display: none;
        flex-direction: column;
        width:100%;
    }
    .porta-form{
        width: 100%;
        order: 1;
        margin-bottom: 15px;
    }

    #resultados{
        order: 2;
        width: 100%;        
    }
    .aparicion{
        display: flex;
        flex-direction: column;
    }
    .aparicion .card{
        width:100%;
        display: flex;
        margin-bottom: 15px;
    }
    .aparicion .card img{
        height:auto;
        max-width: 45%;
        margin: auto;
    }
    .card-body{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .card-body .card-text:nth-child(2){
        display: none;
    }
    .card-body a{
        align-self: center;
        margin: auto;
    }
    
}
@media (max-width:425px){
    .container{
        width:90%;
    margin: auto;
}
    .chevron{
        font-size: 24px;
    }
}